# Pandas Review
- Data structures and data manipulation tools designed to make data cleaning anad analysis easy

In [43]:
# import module
import numpy as np
import pandas as pd

### Introduction to Data Structures

In [44]:
# Series - 1D array with values and associated labels (ie index)
list_ = [*range(4)]
dict_ = {'d':0, 'b':1, 'a': 2, 'c':3}

x = pd.Series(list_, index=['d','b','a','c']) # create Series with list
y = pd.Series(dict_)                          # create Series with dict (keys automatically index)

x.values           # return array of values
x.index            # return index object
x.name = 'numbers' # assign name to array
x.index.name = 'alphabet'

x[['a','d']] # select value by index label
x[[2, 0]]    # select value by index value
x[ x>0 ]     # filter by boolean

alphabet
b    1
a    2
c    3
Name: numbers, dtype: int64

In [58]:
# DataFrame - rectangular table of data

data={'state':['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
      'year': [2000, 2001, 2002, 2001, 2002, 2003],
      'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

df = pd.DataFrame(data, columns=['year', 'state','pop'])           # arrange features by column value
df = pd.DataFrame(data, 
                  columns=['year', 'state','pop','debt'], # debt not in data -> all NaN values
                  index=['one','two','three','four','five','six']) # assign index values

df.head(5)   # return top n obs.
df.tail(5)   # return bottom n obs.
df.sample(5) # return n obs.

# Retriving Columns
df['state']   # return column as Series
df.state      # return column as Series
df[['state']] # return column as DataFrame

# Retriving Rows
df.loc['three'] # return obs by index label
df.iloc[2]      # return obs by index value

# Reassigning Data
df['random1'] = 16.5                      # entire column single value
df['random2'] = np.arange(6, dtype=float) # list to column
df['debt'] = pd.Series([-1.2, -1.5, -1.7], index=['two','four','five']) # assign values by indices
df['eastern'] = (df.state=='Ohio')

# Removing columns
del df['random1']                        # delete column random1
df.drop('random2', axis=1)               # delete column random2 (not permanent)
df.drop('random2', axis=1, inplace=True) # permanently delete column

### Essential Functionality

In [74]:
# Reindexing - create new object with data confomred to new index

df = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d','b','a','c'])
df1 = pd.Series(['blue', 'yellow', 'purple'], index=[0, 2, 4])

df.reindex(['a','b','c','d'])         # reorganized by index value
df1.reindex(range(6), method='ffill') # 'ffill' forward fills missing values with previous value
df1.reindex(range(6), method='bfill') # 'bfill' backward fills missing values with next value

0      blue
1    yellow
2    yellow
3    purple
4    purple
5       NaN
dtype: object

In [84]:
# Dropping entries from an axis
df = pd.Series(np.arange(5.), index=['d','b','a','c', 'z'])

df.drop('c', axis=0)            # remove labeled rows
df.drop(['c','z'], axis=0)      # remove labeled rows

d    0.0
b    1.0
a    2.0
dtype: float64

### Function Application and Mapping

In [100]:
# df.apply(func) applies function to dataframe
df = pd.DataFrame(np.random.randn(4,3), 
                  columns=list('bde'),                       # col labels
                  index=['Utah', 'Ohio', 'Texas', 'Oregon']) # row labels
f1 = lambda x: x.max()-x.min()   # agg. function
f2 = lambda x: '%0.2f' % x       # el function

df.apply( f1, axis=0 )     # apply func across per column
df.apply( f1, axis=1 )     # apply func across per row
df.applymap( f2 )          # apply func per el in DATAFRAME
df['b'].map( f2 )          # apply func per el in SERIES

Utah      -0.43
Ohio       0.53
Texas     -0.65
Oregon     0.76
Name: b, dtype: object

### Sorting and Ranking

In [117]:
# Sorting dataframes
df = pd.DataFrame(np.random.randn(4,3), 
                  columns=list('dae'),                       # col labels
                  index=['Utah', 'Ohio', 'Texas', 'Oregon']) # row labels

df.sort_index(axis=0, ascending=False) # sort rows by INDEX
df.sort_index(axis=1, ascending=True)  # sort columns by INDEX

df.sort_values(by='a', axis=0)    # sort rows by VALUE of col A
df.sort_values(by='Utah', axis=1) # sort col by VALUE of row UTAH

               e         d         a
Utah    0.047606  0.049288  0.164683
Ohio   -1.119365 -0.202757 -0.888228
Texas  -1.346674 -0.495478  1.957700
Oregon -0.065572  0.064485 -0.546620

In [126]:
# Ranking - index of sorted values [similar to np.argsort()]

ser = pd.Series([7, -5, 7, 4, 2, 0, 4]) # 7 repeated

ser.rank(method='first') #i=0 ranked lower than i=2 since it came first
df.rank(axis=0) # rank by row val. (per col)
df.rank(axis=1) # rank by column val. (per row)

          d    a    e
Utah    2.0  3.0  1.0
Ohio    3.0  2.0  1.0
Texas   2.0  3.0  1.0
Oregon  3.0  1.0  2.0

### Summarizing and Computing Descriptive Statistics

In [155]:
# reductions or summary statistics [single value]
data = [[1.4, np.nan],[7.1, -4.5],[np.nan, np.nan], [0.75, -1.3]]
index = list('abcd')
col=['one','two']
df = pd.DataFrame(data=data, columns=col, index=index)

df.sum()             # sum of rows, per col.
df.sum(axis=0)       # sum of rows, per col.
df.sum(axis=1)       # sum of cols, per row
df.mean(skipna=True) # exclude NAs from agg. value

df.count()      # number of non-NA values
df.describe()   # summary stats, per col.
df.max()        # max val, per col.
df.min()        # min val, per col.
df.idxmax()     # index label of max val, per col.
df.idxmin()     # index label of min val, per col.
df.sum()
df.mean()
df.median()
df.mad()        # mean absolute deviation from mean value
df.prod()       # product of row vals, per col
df.var()        # sample variance of row vals, per col
df.std()        # sample stdev of row values, per col
df.skew()       # sample skewness of values, per col
df.cumsum()     # cumsum down rows, per col
df.cummax()     # cum. max down rows, per col
df.cummin()     # cum. min down rows, per col
df.diff()       # diff between n and n-1, per col.
df.pct_change() # %diff between n and n-1, per col.

        one       two
a       NaN       NaN
b  4.071429       NaN
c  0.000000  0.000000
d -0.894366 -0.711111

### Unique Values, Value Counts, and Membership

In [172]:
# df.unique() - unique values in series
ser = pd.Series(list('ababcdefeghi'))
ser.unique() # array of unique values

# df.value_counts() - n occurances per unique value
ser.value_counts() # series; index=ser_vals, vals=count

# df.isin(vals) - boolean mask
ser.isin(list('abc')) # boolean T/F series

# df.Index(uniq_vals).get_indexer(val_to_match) - index aray of possibly non-distinct values
to_match = pd.Series(list('cabbca')) 
uniq_vals = pd.Series(list('cba'))

pd.Index(uniq_vals).get_indexer(to_match) # [0,2,1,1,0,2]; [uniq_val] i=2 (a) found in position 1 and 5 [to_match]

array([0, 2, 1, 1, 0, 2])